@import 'normalize.css';
ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: 1300px;
  background-color: #808080;
  overflow: hidden;
  left: 50%;
  -webkit-transform: translate(-50%, 20px);
  -moz-transform: translate(-50%, 20px);
  -o-transform: translate(-50%, 20px);
  -ms-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  height: 227px;
}
ul li {
  position: relative;
  width: 150px;
  height: 225px;
  border: 1px solid;
  float: left;
  background-color: #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
ul li span {
  display: block;
  line-height: 4;
}
ul li:not(:first-child) {
  margin-left: -132px;
}
form input {
  width: 200px;
}
